*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

[class*=col]  {
    border: 1px solid white;
    color: white;
    line-height: 3em;
    text-align: center;
    background-color: #006cfa;
}

/* utilities */
.nested  {
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.padding  {
    padding: 1em;
}

.margin-btm  {
    margin-bottom: 2em;
}

.ht3  {
    height: 3em;
}

.ht6  {
    height: 6em;
}

.just-center  {
    justify-content: center;
}

.align-center  {
    align-items: center;
}

.align-end  {
    align-items: flex-end;
}

.space-a  {
    justify-content: space-around;
}

.space-b  {
    justify-content: space-between;
}