*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

[class*=col]  {
    border: 1px solid white;
    color: white;
    line-height: 3em;
    text-align: center;
}

.row  {
    background-color: #006cfa;
}

.nested  {
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.padding  {
    padding: 1em;
}

.margin-btm  {
    margin-bottom: 2em;
}

.ht  {
    height: 3em;
}